body{
    background-color: aquamarine;
}
p{
    border-radius: 3%;
    
    margin: 5%;
    background-color: aqua;
}
h1{
    text-align: center ;
}
img{
    float: right;
    margin-right: 5%;
}